<div class="d-flex justify-content-evenly bd-highlight mb-3">
    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/interval" type="button" class="btn btn-primary">Interval</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/timer" type="button" class="btn btn-primary">Timer</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/of-from" type="button" class="btn btn-primary">Of And From</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/to-array" type="button" class="btn btn-primary">ToArray</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

  </div>


  <div class="d-flex justify-content-evenly bd-highlight mb-3">
    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

  </div>


  <div class="d-flex justify-content-evenly bd-highlight mb-3">
    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

  </div>


  <div class="d-flex justify-content-evenly bd-highlight mb-3">
    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="p-5 bg-primary rounded bd-highlight">
        <button  routerLink="/observable/form-event" type="button" class="btn btn-primary">Primary</button>
    </div>

  </div>

