<button routerLink="/observable" class="btn btn-primary  mb-3">Back</button>
<div class="my-1">
    {{obgMsg}}
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Add Video</div>
            <div class="card-body">
               <ul id="elContain"></ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Add Video</div>
            <div class="card-body">
               <ul id="elContain1"></ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Add Video</div>
            <div class="card-body">
               <ul id="elContain2"></ul>
            </div>
        </div>
    </div>

</div>
