<div class="my-1">
    <h1>Pluck</h1>
    <br>
    

    
    <strong>Ex - 01 Pluck (Array Object Data)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light border rounded p-2"><strong> Object Data</strong></p>
            <hr>
            <table>
                <tr>Name</tr>
                <tr *ngFor="let item of data">{{item}}</tr>
            </table>
        </div>
    </div>

    
    <strong>Ex - 01 Pluck (Array Object Data)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light border rounded p-2"><strong> Nested Object Data</strong></p>
            <hr>
            <table>
                <tr>Job > Title</tr>
                <tr *ngFor="let item of data2">{{item}}</tr>
            </table>
        </div>
    </div>
</div>


