<div class="my-1">
    <h1>Of and From</h1>
    <br>
    <strong>Ex - 01 (of)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light border rounded p-2"><strong>Data:</strong> of('rocky','rana','robin')</p>
            <hr>
            <ul id="elContent">
                
            </ul>
        </div>
    </div>
    <hr>

    <br>
    <strong>Ex - 02 (from) use Array</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light border rounded p-2"><strong>Data:</strong> of('rocky','rana','robin')</p>
            <hr>
            <ul id="elContent2">  
            </ul>
        </div>
    </div>
</div>
