<div class="my-1">
    <h1>Map</h1>
    <br>
    <strong>Ex - 01</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light border rounded p-2"><strong>Map Data:</strong> 'video' + data</p>
            <hr>
            <p>Video: <strong class="text-success">{{mes1}}</strong></p>
        </div>
    </div>
    <hr>

    <br>
    <strong>Ex - 02</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light border rounded p-2"><strong>Map Data:</strong> 'video' + data * 2</p>
            <hr>
            <p>Video: <strong class="text-success">{{mes2}}</strong></p>
        </div>
    </div>
    <hr>

    <br>
    <strong>Ex - 03 Map Object Data</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light border rounded p-2"><strong> Object Data</strong></p>
            <hr>
            <ul id="elContent">
            </ul>
        </div>
    </div>
</div>

